body {
  /* background: rgba(0, 199, 100, 1) ; */
  /* background: rgba(34, 34, 111, 1) */
  /* background-color: rgba(66, 0, 66, 1); */
  background-color: #923cb5;
background-image: linear-gradient(17deg, #923cb5 0%, rgba(66, 0, 66, 1) 74%);
  /* background: rgb(144, 144, 144, .9) */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
